<div class="card border-light animated fadeIn">
    <img [src]=" producto.img " class="card-img-top rounded img-fluid " [alt]="producto.producto">
    <div class="card-body ">
        <h6 class="card-title ">{{ producto.producto | uppercase }}
        </h6>
        <!-- <p class="card-text ">clase: {{ producto.clase }}<br>marca: {{ producto.marca }} <br>tipo: {{ producto.tipo }} <br>medida: {{ producto.medida }}
        </p> -->

        <div class="text-center">
            <h6>{{ producto.precio |currency:'PEN' }}</h6>
        </div>
        <button id="button" (click)="verProducto()" type="button " class="btn btn-dark btn-block">
            Ver más...
            </button>
    </div>
</div>